<section>
  <h1>top 10 coins</h1>

<div>
  <p>name: <%= CoinInfo.FullName %></p>


<%!-- <tbody>
          <%= for crypto <- response do %>
          <tr>
          <td><%= CoinInfo %></td>
          <td><%= crypto.amount %></td>
          <td><%= crypto.invested %></td>
          <td><%= crypto.symbol %></td>
          </tr>
          <% end %>
</tbody> --%>

  <!-- Add more user fields as needed -->
</div>

</section>
